<!doctype html>
<html xmlns="http://www.w3.org/1999/xhtml" >
<head>
<title></title>
<meta charset="utf-8"/>
<script src="Scripts/angular.min.js"></script>
<script src="Scripts/script1.js"></script>
<script src="Scripts/stringservice.js"></script>
<link href="filters1.css" rel="stylesheet"/>
</head>
<body ng-app="myModule">
<div ng-controller="myController">
<table>
	<tr>
		<td>Your String:</td>
		<td><input type="text" placeholder="Enter your String" ng-model="input"/></td>
	</tr>
	<tr>
		<td>Result:</td>
		<td><input type="text" placeholder="check your result" ng-model="output"/></td>
	</tr>
	<tr>
		<td></td>
		<td><input type="button" value="Process String" ng-click="transformString(input)"/></td>
	</tr>
</table>

</div>

</body>
</html>
